<div class="col-10 offset -1 about">
  <h2>
    About Splurty
  </h2>
  
  <p>
    Splurty was built by <a href="http://adrianchung.getforge.io"> Adrian Chung</a> as a starting project and introduction into web development.
  </p>
  <br />
  <p>
    Hopefully future endeavors will add the skills that build off this base and become knowledge to code more complex problems.
  </p>
   <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'image_fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">
        Adrian Chung
      </h2>
      <br />
      <p>
        Adrian Chung is a new web developer. He is a graduate from the University of Toronto and is making the transition from life sciences to coding. He plans to continue working to make steps into the programming world. 
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
