<h2>
  <center><span>SPLURTY / No. <%= @quote.id %></span>
  &nbsp;
    <span2>Here's a random <u>unsourced</u> quote!</span2>
  </center>
</h2>
<br class="clear" />
<br />
<h1>
  <center>"<%= @quote.saying %>"</center>
</h1>
<h2 class="float-right">
  - <%= @quote.author %>
</h2>

<br class="clear" />
<br />
<br />
<br />